.row{
    color: white;
    margin-left: 20px;
}

.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row_poster{
    max-height: 100px ;
    object-fit: contain;
    margin-right: 20px;
}
.row_poster:hover
{
    transform: scale(1.05);
    opacity: 1;
}

.row_posters::-webkit-scrollbar{
    display: none;
}

.row_posterLarge{
    max-height: 250px;
}

.row_posterLarge:hover{
    transform: scale(1.050);
    opacity: 1;
}

